{
  "root": true,
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
