import {} from '@chakra-ui/react'

export type {{pascalCase component}}Props = {}

export const {{pascalCase component}} = ({}: {{pascalCase component}}Props) => {
  return (
    <div>
      {{pascalCase component}}
    </div>
  )
}